.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffe4e1;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;

  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #d16a7c;
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 70px;
      right: 20px;
      flex-direction: column;
      background-color: #fff;
      width: 200px;
      padding: 10px 0;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      display: none;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }
  

.logo_resize{
    height: 15%;
    width: 15%;
}


